<div class="container">
  <div class="row">
    <h5>Sample Size: 1 - <input [(ngModel)]="this.size"/></h5>
  </div>
  <div class="row">
      <button (click)="randomize()" class="col-form-label mr-3 btn btn-outline-primary">Randomize</button>
      <button (click)="sort()" class="col-form-label mr-3 btn btn-outline-primary">Sort</button>
      <button (click)="swap()" class="col-form-label mr-3 btn btn-outline-primary">Swap Animation Test</button>
  </div>
</div>

<app-graph [size]="this.size" [randomize]="this.randomizeEventSubject.asObservable()"
           [sort]="this.sortEventSubject.asObservable()" [swap]="this.swapEvenSubject.asObservable()"></app-graph>
