<div class="container control-panel">
  <div class="row h-50">
    <h6>Sample Size: 1 - <input [(ngModel)]="this.size" [disabled]="true"/></h6>
  </div>
  <div class="row h-50">
    <h6>Animation Speed <input [(ngModel)]="this.speed" [disabled]="this.formDisabled"/> Milliseconds</h6>
  </div>
  <div class="row h-50">
    <label for="algorithmList" class="col-form-label mr-3 text-primary">Algorithm List:</label>
    <select id="algorithmList" class="col-form-label mr-3" [(ngModel)]="selectedAlgorithm" [disabled]="this.formDisabled">
      <option *ngFor="let algorithm of algorithmList">{{algorithm}}</option>
    </select>
    <button type="button" (click)="sort()" class="col-form-label mr-3 btn btn-outline-primary"
            [disabled]="this.formDisabled">Sort</button>
    <button type="button" (click)="randomize()" class="col-form-label mr-3 btn btn-outline-primary"
            [disabled]="this.formDisabled">Randomize</button>
    <button type="button" (click)="swap()" class=" col-form-label mr-3 btn btn-outline-primary"
            [disabled]="true">
      Test Animation
    </button>
  </div>
</div>

<app-graph [size]="this.size" [speed]="this.speed" [randomize]="randomizeSignal" [sort]="sortSignal" [swap]="swapSignal"
           [selectedAlgorithm]="this.selectedAlgorithm" (animationFinished)="this.formDisabled = false"></app-graph>
